@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import 'images/images.jpg';

* {
	font-family : 'Nanum Gothic';
}
h1 {
	font-family : 'Hanna';
}

.footer {
	display: block;
	bottom: 0;
	width: 100%;
	color: #fff;
	background-color: #191919;
	text-align: right;
	padding-top: 30px;
}